
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

body{
    background-color: #1d2023;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;

}

h2{
    color: #fff;
    font-size: 40px;

}

.prompt{
    background-color: #292c31;
    padding: 5px;
    width: 620px;
    border: 3px solid #36383d;
    border-radius: 10px;


}

input,button{
    padding: 10px;
    border: none;
    font-size: 20px;
    color: #fff;
}

input{
    background-color: #292c31;
    width: 75%;
    outline: none;

}

button{
    background-color: #36383d;
    width: 20%;
    cursor: pointer;
    border-radius: 10px;


}

button:hover{
    background-color: #45464a;
    
}

.Images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}





.Images div{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid #36383d;

}

.Images div img{
    width: 100%;

}